<div class="buscador">
    <form method="POST" action="/productos/buscar">
        <input class="buscador-input" type="text" name="buscado" placeholder="Que producto buscas?"></input>
        <button type="submit" ><i class="fas fa-search"></i></button>
    </form>
</div>
