    <footer>
        <section class="flexhorizontal-footer">
            <div>
                <ul type="none" class="menu-horizontal-footer">
                  <li><a href="#">Puntos de Venta</a></li>
                  <li><a href="#">Horarios de atenci贸n</a></li>
                  <li><a href="#">Ayuda</a></li>
                </ul>
                
            </div>

            <div class="redes-sociales-caja"><!-- Debajo va el c贸digo de navegaci贸n a redes sociales -->
                <h5 style="padding-bottom: 10px;">Seguinos en las redes!</h5>
                <!---------------------------------->
                <div class="flexhorizontal-footer">
                    <div class="redes-sociales"><a href="#">Facebook</a><i class="fab fa-facebook-square"></i></div>
                    <div class="redes-sociales"><a href="#">Twitter</a><i class="fab fa-twitter-square"></i></div>
                    <div class="redes-sociales"><a href="#">Instagram</a><i class="fab fa-instagram-square"></i></div>
                    <div class="redes-sociales"><a href="#">Whatsapp</a><i class="fab fa-whatsapp"></i></div>
                </div>
            <!---------------------------------->
            </div><!--        Fin navegaci贸n a redes sociales            -->
        </section>
    </footer>    