
    <div class="dentro-header">
        <img class="logo" src="/images/logo-prueba-prueba.png" alt="logo">

        <div class="nav-bar">
            <nav><!--nav> style="justify-content: space-around;"> -->
                <%- include('./nav-general.ejs'); -%>                                         
            </nav>
        </div>

        <%- include('./nav-usuarios.ejs'); -%>
        
    </div>
