    <header class="flex-vertical">
        <div class="dentro-header">
            <img class="logo" src="/images/logo-prueba-prueba.png" alt="logo">
            
            <div class="nav-bar">
                <nav><!--nav> style="justify-content: space-around;"> -->
                    <ul type="none">
                        <!--el views de linea hogar cambiarlo por el de categoria cuando se tenga listo su html-->
                        <li><a href="/">Home</a></li>
                        <li><a href="#">Promociones</a></li>
                        <li><a href="#">Ofertas</a></li>
                        <li><a href="#">Ayuda</a></li>
                    </ul>
                    <br><br><br>
                    <!-- if soy admin, muestro el menú ABM de productos -->
                    <% if ( req.session.usuarioLogueado.perfil != 'Administrador' ) { %>
                        <ul type="none">
                            <li><a href="/productos/productoAgregar">Productos - Agregar</a></li>
                            <li><a href="/productos/productoModificar">Productos - Modificar</a></li>
                            <li><a href="/productos/productoDelete">Productos - Eliminar</a></li> 
                        </ul>
                    <% } %>
                    
                </nav>
            </div>
            
            <div class="login-registro">
                <a href="/usuarios/login">Logging</a>
                <% if ( req.session.usuarioLogueado.perfil != 'Administrador' ) { %>
                    <%= req.session.usuarioLogueado.usuario %>
                <% } %>    
                <a href="/usuarios/registro">Registrate</a>
                <a href="/productos/carrito">Mi Carrito<i class="fas fa-cart-plus"></i></a>

            </div>

        </div>

        <div class="menu-burger">
            <i class="fas fa-bars"></i>
        </div>

        <div class="buscador">
            <input class="buscador-input" type= "Buscar" placeholder="Que producto buscas?"></input>
            <button type="submit" ><i class="fas fa-search"></i></button>
        </div>
        
    </header> 