
<div class="dentro-header">

    <div><img class="logo" src="/images/logo-prueba-prueba.png" alt="logo"></div>
    
    <div class="nav-bar"><%- include('./nav-general.ejs'); -%></div>
    
    <div class="login-registro">
        <%- include('./nav-usuarios.ejs'); -%>
        <% if ( locals.usuarioValidado != undefined ) { %>
            <% if ( locals.usuarioValidado.usuarioPerfil == 'Comprador' ) { %>
                <a href="/productos/carritoMostrar">Mi Carrito<i class="fas fa-cart-plus"></i></a>
            <% } %>
            <strong><%= locals.usuarioValidado %></strong>
        <% } %>
    </div>

</div>    

<% if ( locals.usuarioValidado != undefined ) { %>
    <strong><%= locals.usuarioValidado %></strong>
<% } %> 