<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title> Eco HONeY Marketplace </title>

    <!-- Debajo, configuración de íconos y fonts de terceros (Google, fontawesome)-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet"> 

    <script src="https://kit.fontawesome.com/2752ae1859.js" crossorigin="anonymous"></script>
    <!-- Fin configuración de íconos y fonts de terceros (Google, fontawesome)-->

    <!-- Debajo, linkeo de las stylesheets-->
    <link rel="stylesheet" href="/css/styles.css">
    <!-- Fin linkeo de las stylesheets-->
</head>
    