    <header>
        <div class="dentro-header">
            <img class="logo" src="/images/logo-prueba-prueba.png" alt="logo">
            
            <div class="nav-bar">
                <nav><!--nav> style="justify-content: space-around;"> -->
                    <ul type="none">
                        <li><a href="/views/formularioCargaProducto.ejs">Nosotros</a></li>
                        <!--el views de linea hogar cambiarlo por el de categoria cuando se tenga listo su html-->
                        <li><a href="/views/lineaHogar.html/inicio">Categorías</a></li>
                        <li><a href="#">Promociones</a></li>
                        <li><a href="#">Ofertas</a></li>
                        <li><a href="#">Ayuda</a></li>
                    </ul>
                </nav>
            </div>
            
            <div class="login-registro">
                <a href="./users/login.ejs">Logging</a>
                <a href="./users/registro.ejs">Registrate</a>
                <a href="/views/carrito.ejs">Mi Carrito<i class="fas fa-cart-plus"></i></a>
            </div>

        </div>

        <div class="menu-burger">
            <i class="fas fa-bars"></i>
        </div>

        <div class="buscador">
            <input class="buscador-input" type= "Buscar" placeholder="Que producto buscas?"></input>
            <button type="submit" ><i class="fas fa-search"></i></button>
        </div>
    </header> 