    <header class="flex-vertical">
        <div class="dentro-header">
            <img class="logo" src="/images/logo-prueba-prueba.png" alt="logo">
            
            <div class="nav-bar">
                <nav><!--nav> style="justify-content: space-around;"> -->
                    <ul type="none">
                        <!--el views de linea hogar cambiarlo por el de categoria cuando se tenga listo su html-->
                        <li><a href="/">Home</a></li>
                        <li><a href="#">Promociones</a></li>
                        <li><a href="#">Ofertas</a></li>
                        <li><a href="#">Ayuda</a></li>
                    </ul>
                    <br><br><br>
                    <!-- if soy admin, muestro el menú ABM de productos -->
                    <% if ( locals && locals.usuarioLogueado != undefined ) { %>
                        <% if ( usuarioLogueado.perfil != 'Administrador' ) { %>
                            <nav class="usuariosAdmins">
                                <nav  class="navbar_horflex">
                                    <ul>
                                        <li><a href="/users/listar"><li>Listar Usuarios</li></a></li>
                                        <li><a href="/users/registar"><li>Registrar Usuarios</li></a></li>
                                        <li><a href="/users/modificar"><li>Modificar Usuarios</li></a></li>
                                        <li><a href="/users/eliminar"><li>Eliminar Usuarios</li></a></li>
                                    </ul>
                                    <ul>
                                        <li><a href="/users/perfil/listar"><li>Listar Perfiles</li></a></li>
                                        <li><a href="/users/perfil/agregarr"><li>Agregar Perfiles</li></a></li>
                                        <li><a href="/users/perfil/modificar"><li>Modificar Perfiles</li></a></li>
                                        <li><a href="/users/perfil/eliminar"><li>Eliminar Perfiles</li></a></li>
                                    </ul>
                                    <ul>
                                        <li><a href="/users/intereses/listar"><li>Listar Intereses</li></a></li>
                                        <li><a href="/users/intereses/agregarr"><li>Agregar Intereses</li></a></li>
                                        <li><a href="/users/intereses/modificar"><li>Modificar Intereses</li></a></li>
                                        <li><a href="/users/intereses/eliminar"><li>Eliminar Intereses</li></a></li>
                                    </ul>
                                </nav>
                        
                                <nav class="navbar_horflex">
                                    <ul>
                                        <li><a href="/productos/listar"><li>Listar Productos</li></a></li>
                                        <li><a href="/productos/productoAgregar">Productos - Agregar</a></li>
                                        <li><a href="/productos/productoModificar">Productos - Modificar</a></li>
                                        <li><a href="/productos/productoDelete">Productos - Eliminar</a></li> 
                                    </ul>
                                    <ul>
                                        <li><a href="/productos/linea/listar"><li>Listar Líneas</li></a></li>
                                        <li><a href="/productos/linea/agregarr"><li>Agregar Líneas</li></a></li>
                                        <li><a href="/productos/linea/modificar"><li>Modificar Líneas</li></a></li>
                                        <li><a href="/productos/linea/eliminar"><li>Eliminar Líneas</li></a></li>
                                    </ul>
                                </nav>
                            </nav>
                        <% } %>
                    <% } %>                      
                </nav>
            </div>
            
            <div class="login-registro">
                <a href="/usuarios/login">Logging</a>
                <a href="/usuarios/logout">Salir</a>   
                <a href="/usuarios/registro">Registrate</a>
                <a href="/productos/carrito">Mi Carrito<i class="fas fa-cart-plus"></i></a>
                <% if ( locals && locals.usuarioLogueado != undefined ) { %>
                    <strong><%= locals.usuarioLogueado.usuario %></strong>
                <% } %>    
            </div>

        </div>

        <div class="menu-burger">
            <i class="fas fa-bars"></i>
        </div>

        <div class="buscador">
            <input class="buscador-input" type= "Buscar" placeholder="Que producto buscas?"></input>
            <button type="submit" ><i class="fas fa-search"></i></button>
        </div>
        
    </header> 