<ul type="none">
    <!--el views de linea hogar cambiarlo por el de categoria cuando se tenga listo su html-->
    <li><a href="/">Home</a></li>
    <li><a href="#">Promociones</a></li>
    <li><a href="#">Ofertas</a></li>
    <li><a href="#">Ayuda</a></li>
</ul>