<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet"> 

    <script src="https://kit.fontawesome.com/2752ae1859.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/carrito.css">
    <title>Carrito</title>

</head>

    <header>
           
           
    <header class="flex-vertical">
        <div class="dentro-header">
            <img class="logo" src="/images/logo-prueba-prueba.png" alt="logo">
            
            <div class="nav-bar">
                <nav><!--nav> style="justify-content: space-around;"> -->
                    <ul type="none">
                        <li><a href="#">Nosotros</a></li>
                        <!--el views de linea hogar cambiarlo por el de categoria cuando se tenga listo su html-->
                        <li><a href="./views/lineaHogar.html">Categorías</a></li>
                        <li><a href="#">Promociones</a></li>
                        <li><a href="#">Ofertas</a></li>
                        <li><a href="#">Ayuda</a></li>
                    </ul>
                </nav>
            </div>
            
            <div class="login-registro">
                <a href="./views/login.html">Logging</a>
                <a href="./views/registro.html">Registrate</a>
                <a href="./views/carrito.html"> <i class="fas fa-cart-plus"></i></a>
            </div>

        </div>

        <div class="menu-burger">
            <i class="fas fa-bars"></i>
        </div>

        <div class="buscador">
            <input class="buscador-input" type= "Buscar" placeholder="Que producto buscas?"></input>
            <button type="submit" ><i class="fas fa-search"></i></button>
        </div>
        
    </header>
   
    
    <main class="flex-vertical">
        
        <section>
            <img  class="banner" src="/images/banner-juntos.png" alt="Banner de prueba">
        </section>

        <div class="flex-Horizontal">
            </header>

                <body>
                    <main class="carrito">
                    <div class="listacarrito">
                        <label for="carrito">Carrito:</label>
                        <input type="carrito">
                        
                        <label for="guardado">Guardado:</label>
                        <input type="guardado">
                    </div></div>
                          
                        <h3 >Tú carrito está vacío</h3>
                
                    </div>
                  
            </main>
                </body>
            </html>