<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head.ejs'); -%>
   
   <body>
    <%- include( './partials/header.ejs' ); -%>  
    
    <main class="flex-vertical">
        
        <section>
            <img  class="banner" src="/images/banner-juntos.png" alt="Banner de prueba">
        </section>

      
        


              
                    <main class="carrito">
                    <div class="listacarrito">
                        <label for="carrito">Carrito:</label>
                        <input type="carrito">
                        
                        <label for="guardado">Guardado:</label>
                        <input type="guardado">
                    </div></div>
                          
                        <h3 >Tú carrito está vacío</h3>
                
                    </div>
                  
            </main>
                </body>
                <%- include( './partials/footer.ejs' ); -%>
            </html>