<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet"> 

    <script src="https://kit.fontawesome.com/2752ae1859.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/carrito.css">
    <title>Carrito</title>

</head>

    <header>
           
            <section>
         
                <div class="top-header">
    
                <div class="logo">
                    <img class="logo" src="/images/logo-prueba-prueba.png" alt="logo">
                </div>
            </header>

                <body>
                  <div class="carrito">
                <div class="contenedor.carrito">
                    
        
                <div data-component="inicio" class="lista de compras">
              <li data-tab="carrito" class="productos seleccionados"><a class="enlaceproducto" >Carrito (0)</a></li>
               <li data-tab="guardado" class="productos seleccionados"><a class="enlaceproducto" >Guardados (0)</a></li>

                </div>
                </div>
                
               <h4 class="cart__placeholder-title">Tu carrito está vacío</h4>

                    
            </div>
       
                 </body>