<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head.ejs'); -%>



<body>

    <%- include( './partials/header.ejs' ); -%>

    <main style="background-color: white">
        <center>
            <div class=formCrudDeProducto>
                <form action="/" method="POST">    
                    <table class="formTableCrudDeProducto">

                        <thead style="width: 100%;">
                            <tr><th><div style=" background-color: grey; border-radius: 5px;"><h3><p>Gestión de Productos</p></h3></div></th></tr>
                        </thead>

                        <tbody style="width: 100%;">
                            <tr><td><label><span>Código de Producto</span></label></td></tr>
                            <tr><td><input type="text" name="codigoPrd"></td></tr>
        
                            <tr><td><label><span>Descripción</span></label></td></tr>
                            <tr><td><input type="text" name="nombrePrd"></td></tr>
        
                            <tr><td><label><span>Descripción Detallada</span></label></td></tr>
                            <tr><td><input type="text" name="DescDetalladaPrd"></td></tr>

                            <tr><td><label><span>Línea</span></label></td></tr>
                            <tr>
                                <td>
                                    <select id="linea" name="lineaPrd">
                                        <option value="hogar">Hogar</option>
                                        <option value="personal">Cuidado Personal</option>
                                        <option value="abejas">Productos de las Abejas</option>
                                    </select>
                                </td>
                            </tr>

                            <tr><td><label><span>Precio</span></label></td></tr>
                            <tr><td><input type="text" name="PrecioPrd" id="PrecioPrd"></td></tr>
        
                            <tr><td><label><span>Bonificación</span></label></td></tr>
                            <tr><td><input type="text" name="bonifPrd"></td></tr>
        
                            <tr><td><label><h3><span>Foto de Producto</span></h4></label></td></tr>
                            <tr><td><input type="file" name="avatar"></td></tr>
        
                            <tr><td><div style=" background-color: grey; border-radius: 5px; height: 1px;"></div></td></tr>
                        </tbody>

                    </table>

                    <input type="submit" value="Crear">
                    <!-- <input type="submit" value="Modificar"> -->
                    <input type="reset" value="Limpiar">
                    <!-- <input type="submit" value="Borrar"> -->

                </form>
                <div style=" background-color: whitesmoke; padding-top: 4px; height: 3px; "></div>
                
                <tr><td><div style="width: 97%; background-color: grey; border-radius: 5px; height: 2px;"></div></td></tr>

            </div>           

        </center>      
        
    </main>
    
    <%- include( './partials/footer.ejs' ); -%>

</body>
</html>