<!DOCTYPE html>
<html>
    <head>

        <title> Eco HONeY Marketplace </title>

        <!-- Debajo, configuración de la tabla de caracteres idiona no-inglés -->
        <meta charset="UTF-8">
        <!-- Fin configuración de la tabla de caracteres idiona no-inglés -->
        
        <!-- Debajo, configuración del viewport -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Fin configuración viewport -->

        <!-- Debajo, configuración de íconos y fonts de terceros (Google, fontawesome)-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet"> 

        <script src="https://kit.fontawesome.com/2752ae1859.js" crossorigin="anonymous"></script>
        <!-- Fin configuración de íconos y fonts de terceros (Google, fontawesome)-->

        <!-- Debajo, linkeo de las stylesheets-->
        <link rel="stylesheet" href="/css/styles.css">
        <!-- Fin linkeo de las stylesheets-->


    </head>
    <body width="1vw" height="1vh">
        
        <header>
        
            <section class="flexhorizontal"><!-- Debajo va el código de la navbar 
                                    y de los botones de Logging y Registro -->
                <!---------------------------------->
                <div class="logo">Logo</div>
                <!---------------------------------->
                <nav>
                    <ul class="navbar" type="none">
                        <li><a href="#">Nosotros</a></li>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Categorías</a></li>
                        <li><a href="#">Promociones</a></li>
                        <li><a href="#">Ofertas</a></li>
                        <li><a href="#">Ayuda</a></li>
                    </ul>
                </nav>
                <!---------------------------------->
                <div class="flexvertical">
                    <div class="boton"><a href="#">Logging</a></div>
                    <div class="boton"><a href="#">Registrate</a></div>
                </div>
                <!---------------------------------->
            </section><!--        Fin navbar, Logging y Registro          -->    
        
        </header>

        <main>
            
            <article >
                <div class="pcaja0" >
                 <div > <img class="imgprd"  src="/images/honey-products-.jpg" alt="Honey-products-"></div>
                    <div class="flexvertical">
                        
                        <div  class="pcaja1">
                            <div class="pboton0">Código</div>
                            <div  class="pboton1" >Descripción</div> 
                            <div class="pboton2"><a href="#">-</a></div>
                            <div class="pboton3">cantidad</div>
                            <div class="pboton2"><a href="#">+</a></div>
                            <div class="pboton4"><a href="#">Añadir al carrito</a></div> 
                        </div>
                        <div style="width: 60%" class="producto1">
                            <div class="prd">1234</div>
                            <div class="prd">Miel de Aveja 500 grs</div>
                        </div>

                        <div>
                            <p   class="parrafo"> Las abejas han sido valoradas históricamente por su producción de miel, 
                                utilizada con diferentes fines y presente en casi todas las gastronomías del mundo.
                                    La cera de abeja es una solución natural para el tratamiento de la piel,
                                rica en vitamina A y propiedades antioxidantes que plantea una verdadera revolución en cosmética natural.
                                    Es hidratante, antiinflamatorio, antioxidante, se utiliza para curar y blanquearla, además de aportarle luminosidad.
                            </p>

                        </div>
                    </div>
                </div>
            </article>
            <!--
            <div style="width:50%, border1px solid black"><p>Caja Grande</p> titulo(sin codigo)
               <div><img class="elementos" src="/images/hogar-servilletas.jpg" alt="Hogar-servilletas"></div>
               <p>Hogar</p>
               <div><img class="elementos" src="/images/essential-oils-.jpg" alt="Essential-oils"></div>
               <p>Cuidado personal</p>
               <div><img class="elementos" src="/images/botanic-artesanal.jpg" alt="Botanic-artesanal"></div>
               <p>Producto</p>
            </div>
        -->
        </main>

        <footer>

            <section class="flexhorizontal">

                <div with="10%">
                    <p>Espacio para información de horarios de atención y delivery, 
                        puntos de venta y de pick-up, link a Google Maps, etc.
                    </p>
                </div>

                <div width="10%"><!-- Debajo va el código de navegación a redes sociales -->
                    <h5>Seguinos en las redes!</h5>
                    <!---------------------------------->
                    <div class="flexhorizontal">
                        <div class="redes-sociales"><a href="#">Fb</a></div>
                        <div class="redes-sociales"><a href="#">Tw</a></div>
                    </div>
                
                    <div class="flexhorizontal">
                        <div class="redes-sociales"><a href="#">In</a></div>
                        <div class="redes-sociales"><a href="#">Wsp</a></div>
                    </div>
                <!---------------------------------->
                </div><!--        Fin navegación a redes sociales            -->

            </section>
        
        </footer>
        
    </body>
</html>