<!DOCTYPE html>
<html lang="en">
      
    <%- include('./partials/head.ejs'); -%>
    
<body>

    <header class="flex-vertical">
        <div class="dentro-header">
            <img class="logo" src="/images/logo-prueba-prueba.png" alt="logo">
            
            <div class="nav-bar">
                <nav><!--nav> style="justify-content: space-around;"> -->
                    <% if ( locals && locals.usuarioLogueado != undefined ) { %>
                        <% if ( usuarioLogueado.perfil != 'Administrador' ) { %>
                            <!-- if NO SOY admin, muestro el menú de público -->
                            <ul type="none">
                            <!--el views de linea hogar cambiarlo por el de categoria cuando se tenga listo su html-->
                            <li><a href="/">Home</a></li>
                            <li><a href="#">Promociones</a></li>
                            <li><a href="#">Ofertas</a></li>
                            <li><a href="#">Ayuda</a></li>
                            </ul>
                            <br><br><br>
                        <% } else { %>
                            <!-- else soy admin, muestro el menú protegido de ABM de productos -->
                            <ul type="none">
                                <li><a href="/productos/productoAgregar">Productos - Agregar</a></li>
                                <li><a href="/productos/productoModificar">Productos - Modificar</a></li>
                                <li><a href="/productos/productoDelete">Productos - Eliminar</a></li> 
                            </ul>
                        <% } %>    
                    <% } %>                      
                </nav>
            </div>
            
            <div class="login-registro">
                <a href="/usuarios/login">Logging</a>    
                <a href="/usuarios/logout">Salir</a>   
                <a href="/usuarios/registro">Registrate</a>
                <a href="/productos/carrito">Mi Carrito<i class="fas fa-cart-plus"></i></a>
                <% if ( locals && locals.usuarioLogueado != undefined ) { %>
                    <strong><%= locals.usuarioLogueado.usuario %></strong>
                <% } %>
            </div>

        </div>

        <div class="menu-burger">
            <i class="fas fa-bars"></i>
        </div>

        <div class="buscador">
            <input class="buscador-input" type= "Buscar" placeholder="Que producto buscas?"></input>
            <button type="submit" ><i class="fas fa-search"></i></button>
        </div>
        
    </header> 
    
    <main class="flex-vertical">
        
        <div><center><h2>Acá va la Home, pero falla porque no puedo pasarle la variable listadoOfertas que es de mainController</h2></center></div>

    </main>
    
    <%- include( './partials/footer.ejs' ); -%>

</body>
</html>