<!DOCTYPE html>
<html>
    <head>

        <title> Eco HONeY Marketplace </title>

        <!-- Debajo, configuración de la tabla de caracteres idiona no-inglés -->
        <meta charset="UTF-8">
        <!-- Fin configuración de la tabla de caracteres idiona no-inglés -->
        
        <!-- Debajo, configuración del viewport -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Fin configuración viewport -->

        <!-- Debajo, configuración de íconos y fonts de terceros (Google, fontawesome)-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet"> 

        <script src="https://kit.fontawesome.com/2752ae1859.js" crossorigin="anonymous"></script>
        <!-- Fin configuración de íconos y fonts de terceros (Google, fontawesome)-->

        <!-- Debajo, linkeo de las stylesheets-->
        <link rel="stylesheet" href="./css/styles.css">
        <!-- Fin linkeo de las stylesheets-->


    </head>

    <body>
        
        <header>
        
            <section>
              <!-- Debajo va el código de la navbar y de los botones de Logging y Registro -->
                <!---------------------------------->
        
              <div class="top-header">

                <div class="logo">
                    <img class="logo" src="/images/logo-prueba-prueba.png" alt="logo">
                </div>
                <!---------------------------------->
                <nav>
                    <ul class="nav-bar" type="none">
                        <li><a href="#">Nosotros</a></li>
                        <!--el views de linea hogar cambiarlo por el de categoria cuando se tenga listo su html-->
                        <li><a href="./views/lineaHogar.html">Categorías</a></li>
                        <li><a href="#">Promociones</a></li>
                        <li><a href="#">Ofertas</a></li>
                        <li><a href="#">Ayuda</a></li>
                    </ul>
                </nav>
                <!----------LOGIN Y REGISTRO---------------->
                <div class="flex-vertical-login-registro">

                 <div class="boton"><a href="./views/login.html">Logging</a></div>
                 <div class="boton"><a href="./views/registro.html">Registrate</a></div>
                </div>
                <!---------------------------------->

                <div>
                  <i class="fas fa-bars menu-burger"></i>
                </div>

              </div>

            </section>    <!--        Fin navbar, Logging y Registro          -->    
            <!--Buscar producto-->
            <div class="buscador">
              <div class="buscar-producto">
                <input  type= "Buscar" placeholder="Que producto buscas?"></input>
                  <div class="boton-buscar">
                    <button type="submit" ><i class="fas fa-search"></i></button>
                  </div>
                </div>
            </div>
        </header>

        

        <!---------Banner Publicitario y algo mas--------->
        <section class="banner flex-Horizontal">
            <img src="images/banner-juntos.png" alt="Banner de prueba">
          </section>
      

        <main>
            <article >
                <div class="pcaja0" >
                 <div > <img class="imgprd"  src="/images/vela_miel2.jpg" alt="velas"></div>
                    <div class="flexvertical">
                        
                        <div  class="pcaja1">
                            <div class="pboton0">Código</div>
                            <div  class="pboton1" >Descripción</div> 
                            <div class="pboton4"><i class="fas fa-minus"></i></div>
                            <div class="pboton3">cantidad</div>
                            <div class="pboton4"><i class="fas fa-plus"></i></div>
                            <div class="pboton4"><i class="fas fa-cart-plus"></i></div> 
                        </div>
                        <div  class="producto1">
                            <div class="prd">SKU 7148-0055</div>
                            <div class="prd">Velas de Miel x6</div>
                        </div>

                        <div>
                            <p   class="parrafo"> Velas cuadradas hechas 100% con cera pura de Abejas. Son enrrolladas a mano. Dimensiones: 2,5 cm x 11 cm. Tienen una rica fragancia a miel. Sus propiedades son saludables y no tienen aditivos químicos. Ideales para decorar, relajarse, meditar y también para rituales. Purifican el ambiente, dejandolo libre de moho, polvo, virus y bacterias
                            </p>

                        </div>
                    </div>
                </div>
            </article>        
    
        
        </main>

        <!----------FOOTER----------->

        <footer>

          <!----
                    <p>Espacio para información de horarios de atención y delivery, 
                        puntos de venta y de pick-up, link a Google Maps, etc.
                    </p>-->

        <section class="flexhorizontal">

              <div>
                  <ul class="nav-bar-footer" type="none">
                    <li><a href="#">Puntos de Venta</a></li>
                    <li><a href="#">Horarios de atencion</a></li>
                    <li><a href="#">Ayuda</a></li>
                  </ul>
                  
              </div>

                <div class="redes-sociales-caja"><!-- Debajo va el código de navegación a redes sociales -->
                    <h4>Seguinos en las redes!</h4>
                    <!---------------------------------->
                    <div>
                        <div class="redes-sociales"><a href="#">Facebook</a><i class="fab fa-facebook-square"></i></div>
                        <div class="redes-sociales"><a href="#">Twitter</a><i class="fab fa-twitter-square"></i></div>
                        <div class="redes-sociales"><a href="#">Instagram</a><i class="fab fa-instagram-square"></i></div>
                        <div class="redes-sociales"><a href="#">Whatsapp</a><i class="fab fa-whatsapp"></i></div>
                    </div>
                <!---------------------------------->
                </div><!--        Fin navegación a redes sociales            -->

            </section>
        
        </footer>
        
    </body>
</html>