<!DOCTYPE html>
<html lang="en">
    <title>Modificar Linea</title>

    <%- include('./partials/head.ejs') %>

<body>

    <header class="flex-vertical">
        <div class="dentro-header">
            <img class="logo" src="/images/logo-prueba-prueba.png" alt="logo">
            
            <div class="nav-bar">
                <nav><!--nav> style="justify-content: space-around;"> -->
                    <% if ( locals && locals.usuarioLogueado != undefined ) { %>
                        <% if ( usuarioLogueado.perfil != 'Administrador' ) { %>
                            <!-- if NO SOY admin, muestro el menú de público -->
                            <ul type="none">
                            <!--el views de linea hogar cambiarlo por el de categoria cuando se tenga listo su html-->
                            <li><a href="/">Home</a></li>
                            <li><a href="#">Promociones</a></li>
                            <li><a href="#">Ofertas</a></li>
                            <li><a href="#">Ayuda</a></li>
                            </ul>
                            <br><br><br>
                        <% } else { %>
                            <!-- else soy admin, muestro el menú protegido de ABM de productos -->
                            <nav>
                                <nav  class="navbar_horflex nav-estilo-usuarios">
                                    <ul style="border: 1px solid purple; padding: 3px;">
                                        <li><a href="/usuarios/listar"><li>Listar usuarios</li></a></li>
                                        <li><a href="/usuarios/registro"><li>Registrar Usuarios</li></a></li>
                                        <li><a href="/usuarios/modificar"><li>Modificar Usuarios</li></a></li>
                                        <li><a href="/usuarios/eliminar"><li>Eliminar Usuarios</li></a></li>
                                    </ul>
                                    <ul style="border: 1px solid purple; padding: 3px;">
                                        <li><a href="/usuarios/perfil/listar"><li>Listar Perfiles</li></a></li>
                                        <li><a href="/usuarios/perfil/agregar"><li>Agregar Perfiles</li></a></li>
                                        <li><a href="/usuarios/perfil/modificar"><li>Modificar Perfiles</li></a></li>
                                        <li><a href="/usuarios/perfil/eliminar"><li>Eliminar Perfiles</li></a></li>
                                    </ul>
                                    <ul style="border: 1px solid purple; padding: 3px;">
                                        <li><a href="/usuarios/intereses/listar"><li>Listar Intereses</li></a></li>
                                        <li><a href="/usuarios/intereses/agregar"><li>Agregar Intereses</li></a></li>
                                        <li><a href="/usuarios/intereses/modificar"><li>Modificar Intereses</li></a></li>
                                        <li><a href="/usuarios/intereses/eliminar"><li>Eliminar Intereses</li></a></li>
                                    </ul>
                                </nav>
                                <br>
                                <nav class="navbar_horflex nav-estilo-productos">
                                    <ul style="border: 1px solid purple; padding: 3px;">
                                        <li><a href="/productos/listar"><li>Listar Productos</li></a></li>
                                        <li><a href="/productos/productoAgregar">Productos - Agregar</a></li>
                                        <li><a href="/productos/productoModificar">Productos - Modificar</a></li>
                                        <li><a href="/productos/productoDelete">Productos - Eliminar</a></li> 
                                    </ul>
                                    <ul style="border: 1px solid purple; padding: 3px;">
                                        <li><a href="/productos/linea/listar"><li>Listar Líneas</li></a></li>
                                        <li><a href="/productos/linea/agregar"><li>Agregar Líneas</li></a></li>
                                        <li><a href="/productos/linea/modificar"><li>Modificar Líneas</li></a></li>
                                        <li><a href="/productos/linea/eliminar"><li>Eliminar Líneas</li></a></li>
                                    </ul>
                                </nav>
                            </nav>
                        <% } %>    
                    <% } %>                      
                </nav>
            </div>
            
            <div class="login-registro">
                <a href="/usuarios/login">Logging</a>    
                <a href="/usuarios/logout">Salir</a>   
                <a href="/usuarios/registro">Registrate</a>
                <a href="/productos/carrito">Mi Carrito<i class="fas fa-cart-plus"></i></a>
                <% if ( locals && locals.usuarioLogueado != undefined ) { %>
                    <strong><%= locals.usuarioLogueado.usuario %></strong>
                <% } %>
            </div>

        </div>

        <div class="menu-burger">
            <i class="fas fa-bars"></i>
        </div>

        <div class="buscador">
            <input class="buscador-input" type= "Buscar" placeholder="Que producto buscas?"></input>
            <button type="submit" ><i class="fas fa-search"></i></button>
        </div>
        
    </header>  
  
    <main>
        <!--
        <section>
            <img  class="banner" src="/images/banner-juntos.png" alt="Banner de prueba">
        </section>
        -->
        <center>
            <div style='width: 33%'>
                <br>
                <h3>Gestión de Productos - Modificar Linea</h3><br>
                <hr>
                <br>
                <form method="POST" action="/productos/linea/modificar">
                    <label>Descripcion</label>
                    <input type="text" id=" " name="linea"> 
                    <% if ( locals && locals.resultadoValidaciones ) {
                        if ( resultadoValidaciones.linea != undefined )  { %>
                            <p class="feedback"> <%= resultadoValidaciones.linea.msg %></p>
                        <% } %>
                    <% } %> 
                                                   
                   
                    

                    <br><br>
                    <button type="submit" class="btn btn-personalizado btn-lg btn-block" id="submit" name="submit" title="modificar">Modificar</button>        
                    <br><br>
                    <hr>
                    <br>
                </form>
            </div>
           
        </center>

    </main>

</body>
    <%- include( './partials/footer.ejs' )%>
</html>