<!DOCTYPE html>
<html lang="en">
    <title>Login</title>

    <%- include('./partials/head.ejs') %>

<header class="flex-vertical">
    <%- include('./partials/header-Vendedor.ejs'); -%>
</header>
    
<body>
  
    <main>
        <!--
        <section>
            <img  class="banner" src="/images/banner-juntos.png" alt="Banner de prueba">
        </section>
        -->
        <center>
            <div style='width: 33%'>
                <br>
                <div style=" background-color: rgb(236, 214, 241); border-radius: 5px; padding: 3px;"><h3><p>Gestión de Productos - Agregar Líneas</p></h3></div><br>
                <hr>
                <br>
                <form method="POST" action="/productos/linea/agregar">
                    <label>Descripcion</label>
                    <input type="text" id="linea" class="linea" name="linea"> 
                    <% if ( locals && locals.resultadoValidaciones ) {
                        if ( resultadoValidaciones.linea != undefined )  { %>
                            <p class="feedback"> <%= resultadoValidaciones.linea.msg %></p>
                        <% } %>
                    <% } %> 

                    <br><br>
                    <button type="submit" class="btn btn-personalizado btn-lg btn-block" id="submit" name="submit" title="agregar">Agregar</button>        
                    <br><br>
                    <hr>
                    <br>
                </form>
            </div>
           
        </center>

    </main>

</body>
    <%- include( './partials/footer.ejs' )%>
</html>