<!DOCTYPE html>
<html lang="en">
    <title>Login</title>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=    <div id="container">
        <link rel="stylesheet" href="./css/index.css">
  
</head>
<body>
    <header>
        
        <section>
     
            <div class="top-header">

            <div class="logo">
                <img class="logo" src="/images/logo-prueba-prueba.png" alt="logo">
            </div>
          
            <div class="flex-vertical-login-registro">
    <form>
            
        <label for="nombre">Usuario:</label>
        <input type="nombre">
        
        <label for="nombre">Contraseña:</label>
        <input type="contaseña">
        <p><a href="#">¿Olvidó su contraseña?</a>
        <input type="contraseña">
        <div id="lower">
            <input type="checkbox"><label class="check" for="checkbox">Mantenme logueado</label>
        </form>
</body>
</html>