<!DOCTYPE html>
<html lang="en">
    <title>Login</title>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=  <div id="container">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet"> 

        <script src="https://kit.fontawesome.com/2752ae1859.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="./css/login.css">
  
</head>
<body>
    <header>
             
            <div class="top-header">

            <div class="logo">
                <img class="logo" src="/images/logo-prueba-prueba.png" alt="logo">
            </div>
          
            <div class="flex-vertical-login-registro">
            </header>
    <form>

         <i class="login">
             <div class="contenedorlogin">
        <label for="nombre">Usuario:</label>
        <input type="nombre">
        
        <label for="nombre">Contraseña:</label>
        <input type="contaseña">
        <p><a href="#">¿Olvidó su contraseña?</a>
        <input type="contraseña">
        <div id="lower">
            <input type="checkbox"><label class="check" for="checkbox">Mantenme logueado</label>  </div></i> 
        </div>
        </form>
        <section class="flexhorizontal">                 
         
           
            
        
    </footer>
</body>
</html>