<!DOCTYPE html>
<html lang="en">
    <title>Login</title>

    <%- include('./partials/head.ejs') %>

<header class="flex-vertical">        
    <%- include('./partials/header-Admin.ejs'); -%>    
</header>

<body>

    <main>
        <!--
        <section>
            <img  class="banner" src="/images/banner-juntos.png" alt="Banner de prueba">
        </section>
        -->
        <center>
            <div style='width: 33%'>
                <br>
                <div style=" background-color: gold; border-radius: 5px; padding: 3px;"><h3>Gestión de Usuarios - Agregar Perfiles</h3></div>
                <hr>
                <br>
                <form method="POST" action="/usuarios/perfil/agregar">
                    <label>nombre</label>
                    <input type="text" id=" " name="perfil"> 
                    <% if ( locals && locals.resultadoValidaciones ) {
                        if ( resultadoValidaciones.perfil != undefined )  { %>
                            <p class="feedback"> <%= resultadoValidaciones.perfil.msg %></p>
                        <% } %>
                    <% } %> 
                                                   
                   
                    

                    <br><br>
                    <button type="submit" class="btn btn-personalizado btn-lg btn-block" id="submit" name="submit" title="Agregar">Agregar</button>        
                    <br><br>
                    <hr>
                    <br>
                </form>
            </div>
           
        </center>

    </main>

</body>
    <%- include( './partials/footer.ejs' )%>
</html>