*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto',sans-serif;
    box-sizing: border-box;
}

body{
    background-color: rgba(44, 144, 148, 0.959)
}

h3{
    color: #000;
}

header{
    background-color: rgb(122, 187, 128);
    padding:30px;
}


.top-header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.logo{
    width: 30vw;  
}

.img-logo{
    width: 40%;   
}


.nav-bar{
    display: none; 
  }

li{
    list-style-type: none;
 }
ul li a{
    text-decoration: none;
    color: #000;
}


.flex-vertical-login-registro{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}

.buscador{
    width: 90%;
    height: 2.5vh;
    background-color: rgb(211, 211, 211);
    margin: 10px 10px;   
}

.buscar-producto{
    display: flex;
    width: 100%;
    justify-content: center;
    
}

.buscar-producto input{
    border:none;
    width:100%;
    font-size: 20px; 
    border-radius: 5px;
    align-content: center;
}


.buscar-producto boton-buscar {
    position: absolute;
    width: 55px;
    top:0px;
    right: 0px;
    height: 40px;
    border: none;
    background-color: #ffffff;
    cursor: pointer;
    text-align: center;
}

.boton-buscar i{
    font-size: 17px;
}


section.banner img{
    width: 100%;
    margin-top: 20px;
    align-content: center;
}

.registro{
    background-color: white;
    align-content: center;
    width: 100%;
    justify-content:space-around;
     display: flex;
    padding: 10px;}

    .fecha{
        background-color: white;
        width: 100%;
        justify-content:space-around;
        align-content: center;
         display: flex;
        padding: 10px
    }




@media (min-width:361px) {

    

}


@media (min-width:769px) {}



@media(min-width: 1024px){
    .flex-vertical-login-registro{
        display:flex;
        flex-direction:column;
        justify-content:space-between ;}
    
        
     
    .boton a{
        color:white;
       font-size: 20px;}
        
    }



@media (min-width: 1440px){
  .img-logo{
        width: 30%;   
    }}


@media (min-width: 2560px){
     
    .img-logo{
        width: 3vw;   
    }}