* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto',sans-serif;
    box-sizing: border-box;
}

.flex-horizontal {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
}

.flex-vertical {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}
<<<<<<< HEAD
*/
/*MAIN*/
=======
/* *** viene copiado de styles.css *** */
main {
    border: 1px solid olivedrab ;
    background-color: rgb(122, 187, 128);
}

.banner {
    display: none;
}

.fa-minus, .fa-plus {
    color: #fbf4f4;
    display: block;
    font-size: 25px;
    width: 25px;
}
.pcaja0{
        display: flex;
       justify-content: space-between;
       margin: 10px;
       padding: 0px 5px 15px 0px;

       
   }
   
.pcaja1{
       width: 70%;
       display: flex;
       flex-direction: row;
       justify-items:flex-start;
       justify-content: stretch;
   }
   
.pboton0 {
       margin: 3px;
       padding: 7px 15px 7px 15px;
       font-size: medium;
       text-align: center;
       width: 25%;
       height: 40px;
       border: 1px solid darkgoldenrod;
       border-radius: 7px;
       background-color: olive;
   }
   
.pboton1 {
       margin: 3px;
       padding: 7px 15px 7px 15px;
       font-size: medium;
       text-align: center;
       width: 40%;
       height: 40px;
       border: 1px solid darkgoldenrod;
       border-radius: 7px;
       background-color: olive;
   }
   
.pboton2 {
       margin: 3px;
       padding: 7px 15px 7px 15px;
       font-size: medium;
       text-align: center;
       width: 10%;
       height: 40px;
       border: 1px solid darkgoldenrod;
       border-radius: 7px;
       background-color: olive;
   }
.pboton3 {
       margin: 3px;
       padding: 7px 15px 7px 15px;
       font-size: medium;
       text-align: center;
       width: 30%;
       height: 40px;
       border: 1px solid darkgoldenrod;
       border-radius: 7px;
      }
.pboton4 {
       margin: 3px;
       padding: 2px 15px 2px 15px;
       font-size: xx-small;
       text-align: center;
       width: 20%;
       height: 40px;
       border: 1px solid darkgoldenrod;
       border-radius: 7px;
       background-color: olive;
   }
   
.producto1{
       font-size: small;
       display: flex;
       flex-direction: row;
       justify-items:flex-start;
       justify-content: stretch;
   }
   
.imgprd {
       width: 400px;
       padding: 0px 35px 0px 0px;
   
   }
   
.prd {
       margin: 10px;
       padding:0px 40px 0px 0px;
       text-align: center;
   }
.parrafo {
       width: 80%;
       text-align: justify;
       
 }
>>>>>>> ae270a97b9b844cdc235040e6b62c58f1b0b07c7

/*-----ETIQUETA OFERTAS------*/

.etiqueta-oferta{
    width: 60%;
}

.titulo-ofertas{
    background-color: rgb(20, 20, 19);
    font-size: 18px;
    border-radius: 10px;
    color:white;
    width:60%;
    text-align: center;
}

/*------ OFERTAS------*/
.Ofertas{
    background-color: ivory;
    width: 100%;
    padding: 10px 10px;
    display:flex;
    justify-content: space-between;
}

.productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.contenedor1{
    width: 100%;
    border-top: solid 1px #ebebeb; 
    display: flex;
    position: relative; 
    flex-direction: column;
 }
    
main section article img{
    width: 100%;
    height: 70%;
    margin:auto;
    border-radius: 15px;
    display: block;
}


.fa-cart-plus {
        color: #54e267;
        display: block;
        font-size: 25px;
        padding: 5px;
        width: 38px;
  /*      position: absolute;
        right: 10px; */
}

.precios{
    font-size:20px;
}

.descuentos{
    font-size:16px;
    color:#39b54a
 }


.descripciones{
    font-size:16px;
    font-weight: normal;
    margin-top:1px;
    display: none;
 }

/*---- LO NUEVO O ESPECIAL DE ABEJAS---*/

/*----ETIQUETA ESPECIAL DE ABEJAS----*/
.Etiqueta-Especial-Abejas{
    width: 60%;
}

.titulo-Especial-abejas{
    background-color: rgba(243, 220, 11, 0.918);
    font-size: 18px;
    border-radius: 10px;
    color:rgb(15, 15, 15);
    width:60%;
    text-align: center;
}

/*---ABEJAS----*/

.abejas{
background-color:rgba(230, 216, 24, 0.705);
width: 100%;
padding: 10px 10px;
display:flex;
justify-content: space-between;
}

/* *** Catálogo *** */

.productos-abejas{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/*Todas los demas estilos de la seccion abeja son iguales a los de seccion oferta, deje mismas etiquetas*/



/*--------IMAGENES AL CATALOGO------*/

.Imagenes-al-catalogo{
    background-color: rgba(44, 144, 148, 0.959);
    padding: 17px;
    width: 100%;
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.imagenes-al-catalogo {
    width: 423px; 
    height: 300px;
}

/*FOOTER*/

footer{
    background-color: #c4a977;
    text-align:center;
    padding:30px 0;
    width:100%;
    margin: auto;
    font-size: 20px;
    }

.flexhorizontal{
        display: flex;
        justify-content: space-between;
    }

.redes-sociales-caja{
    background-color: #c4a977;
    width: 40%;
    justify-content: center;
    }

.redes-sociales{
    text-align: center;

}

/*----ICONOS DE REDES SOCIALES----*/

.fa-facebook-square{
    color: #4036be;
    
}

.fa-twitter-square{
    color: #3c52ce;
   
}

.fa-instagram-square{
    color: #c735a7;
    
}

.fa-whatsapp{
    color: #198f29;
    
}

/* *** Viene copiado de styles.css *** */


/*-------------MediaQ 5px------------*/

@media (min-width:5px) {

    flex-vertical {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-items: flex-start;
        align-items: center;
        flex-wrap: nowrap;
        align-items: center;
        align-content: center;
    }

    header {
        width: 100vw;
        /*position: fixed;
        top: 0px;*/
        background-color: rgba(44, 144, 148, 0.959); 
    }
    
    .dentro-header {
        width: 100%;
        padding: 2%;
        /*position: fixed;
        top: 0px;
        background-color: rgba(44, 144, 148, 0.959);*/
        display: flex; 
        flex-direction: column;
        flex-wrap: nowrap;  
        justify-self: center;
        align-items: center;  
    }
    
    .logo {
        width: 17vw;
        height: auto;
    }
    
    /* *** Barra de Navegación, Registro y Logging *** */   
    nav {
        display: none;
    } 
    a { 
        color: white;
        text-decoration: none; 
        font-size: 11px;
    }
    a:hover {
        color: black;
        background-color: goldenrod;
        font-size: 11px;
        font-weight: bold;
    }

    .login-registro {
        width: 17vw;
        height: auto;
        padding-left: 3%;
        padding-top: 11px;
        font-size: 100%;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items:flex-start;
        align-content: space-between;
        justify-items: left;
    }
    
    .menu-burger {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 5rem;
        background-color:gold;
        border-radius: 50px;
        padding: 10px 5px 10px 5px; 
    }

    /* *** Fin Barra de Navegación, Registro y Logging *** */
    
    /* *** Barra de Búsqueda *** */
    .buscador{
        width: 100%;
        height: 100%;
        padding-top: 13px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
    }
    .buscador-input {
        width: 50%;
        height: 100%;
        border: 2px orchid; border-style: groove;
    }
    /* *** Fin Barra de Búsqueda *** */

    main {
        width: 100%;
        height: auto;
    }
    
    .banner {
        display: none;
    }

    .titulo-Especial-abejas{
        background-color: rgba(243, 220, 11, 0.918);
        font-size: 18px;
        border-radius: 10px;
        color:rgb(15, 15, 15);
        width:70%;
        text-align: center;
    }

    .titulo-ofertas{
        background-color: rgb(20, 20, 19);
        font-size: 18px;
        border-radius: 10px;
        color:white;
        width:70%;
        text-align: center;
    }

    /*OJO no funciona en 361px SEGUIR PROBANDO..*/
    main section article {
        margin-bottom: 10px;
        background-color: white;
        position: relative;
        width: 60%;
    }

    .Imagenes-al-catalogo{
        background-color: rgba(44, 144, 148, 0.959);
        width: 100%;
        padding: 17px;
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    
}
/*-------------MediaQ 5px------------*/

@media (min-width:769px) {
    header {
        width: 100vw;
        /*position: fixed;
        top: 0px;*/
        background-color: rgba(44, 144, 148, 0.959); 
    }
    
    .dentro-header {
        width: 100%;
        padding: 2%;
        /*position: fixed;
        top: 0px;
        background-color: rgba(44, 144, 148, 0.959);*/
        display: flex; 
        flex-direction: row;  
        justify-self: center;
        align-items: center;  
    }
    
    .logo {
        width: 17vw;
        height: auto;
    }
    
    /* *** Barra de Navegación, Registro y Logging *** */
    nav {
        width: 100%;
        display: block;
    }
    .nav-bar{
        width: 60%;
        height: auto;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-items: center;
        justify-content: space-evenly;
    }
    
    a { 
        color: white;
        text-decoration: none; 
        font-size: 19px;
    }
    a:hover {
        color: black;
        background-color: goldenrod;
        font-size: 19px;
        font-weight: bold;
    }
    
    li {
        font-size: 100%;
        padding: 0px 1%;
    }
    ul {
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        justify-items: center;
    }
    
    .login-registro {
        width: 17vw;
        height: auto;
        padding-left: 3%;
        font-size: 100%;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items:flex-start;
        align-content: space-between;
        justify-items: left;
    }
    
    .menu-burger {
        display: none;
    }
    /* *** Fin Barra de Navegación, Registro y Logging *** */
    
    /* *** Barra de Búsqueda *** */
    .buscador{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
    }
    .buscador-input {
        width: 50%;
        height: 100%;
        border: 2px orchid; border-style: groove;
    }
    /* *** Fin Barra de Búsqueda *** */

    main {
        width: 100%;
        height: auto;
    }
    
    .banner {
        display: none;
    }
    /*----Article para que aparezcan 4--- */
    
    main section article {
            
        margin-bottom: 10px;
        background-color: white;
        position: relative;
        width: 20%;
    } 

    .Imagenes-al-catalogo{
        background-color: rgba(44, 144, 148, 0.959);
        width: 100%;
        padding: 17px;
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

}    

@media (min-width: 1024px){
    header {
        width: 100vw;
        /*position: fixed;
        top: 0px;*/
        background-color: rgba(44, 144, 148, 0.959); 
    }
    
    .dentro-header {
        width: 100%;
        padding: 2%;
        /*position: fixed;
        top: 0px;
        background-color: rgba(44, 144, 148, 0.959);*/
        display: flex; 
        flex-direction: row;  
        justify-self: center;
        align-items: center;  
    }
    
    .logo {
        width: 11vw;
        height: auto;
    }
    
    /* *** Barra de Navegación, Registro y Logging *** */
    nav {
        width: 100%;
    }
    .nav-bar{
        width: 60%;
        height: auto;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-items: center;
        justify-content: space-evenly;
    }
    
    a { 
        color: white;
        text-decoration: none; 
        font-size: 19px;
    }
    a:hover {
        color: black;
        background-color: goldenrod;
        font-size: 19px;
        font-weight: bold;
    }
    
    li {
        font-size: 100%;
        padding: 0px 1%;
    }
    ul {
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        justify-items: center;
    }
    
    .login-registro {
        width: 17vw;
        height: auto;
        padding-left: 3%;
        font-size: 100%;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items:flex-start;
        align-content: space-between;
        justify-items: left;
    }
    
    .menu-burger {
        display: none;
    }
    /* *** Fin Barra de Navegación, Registro y Logging *** */
    
    /* *** Barra de Búsqueda *** */
    .buscador{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
    }
    .buscador-input {
        width: 50%;
        height: 100%;
        border: 2px orchid; border-style: groove;
    }
    /* *** Fin Barra de Búsqueda *** */

    main {
        width: 100%;
        height: auto;
    }

    
    /* *** Banner *** */
    .banner {
        width:100%;
        height: auto;
        display: block;
    } 
    /* *** Fin Banner *** */

    .Imagenes-al-catalogo{
        background-color: rgba(44, 144, 148, 0.959);
        width: 100%;
        padding: 17px;
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

}

@media (min-width: 1440px){
    header {
        width: 100vw;
        /*position: fixed;
        top: 0px;*/
        background-color: rgba(44, 144, 148, 0.959); 
    }
    
    .dentro-header {
        width: 100%;
        padding: 2%;
        /*position: fixed;
        top: 0px;
        background-color: rgba(44, 144, 148, 0.959);*/
        display: flex; 
        flex-direction: row;  
        justify-self: center;
        align-items: center;  
    }
    
    .logo {
        width: 11vw;
        height: auto;
    }
    
    /* *** Barra de Navegación, Registro y Logging *** */
    nav {
        width: 100%;
    }
    .nav-bar{
        width: 60%;
        height: auto;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-items: center;
        justify-content: space-evenly;
    }
    
    a { 
        color: white;
        text-decoration: none; 
        font-size: 29px;
    }
    a:hover {
        color: black;
        background-color: goldenrod;
        font-size: 29px;
        font-weight: bold;
    }
    
    li {
        font-size: 100%;
        padding: 0px 1%;
    }
    ul {
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        justify-items: center;
    }
    
    .login-registro {
        width: 17vw;
        height: auto;
        padding-left: 3%;
        font-size: 100%;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items:flex-start;
        align-content: space-between;
        justify-items: left;
    }
    
    /* *** Fin Barra de Navegación, Registro y Logging *** */
    
    /* *** Barra de Búsqueda *** */
    .buscador{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
    }
    .buscador-input {
        width: 50%;
        height: 100%;
        border: 2px orchid; border-style: groove;
    }
    /* *** Fin Barra de Búsqueda *** */

    main {
        width: 100%;
        height: auto;
    }
    
    /* *** Banner *** */
    .banner {
        width:100%;
        height: auto;
        display: block;
    } 
    /* *** Fin Banner *** */

    .titulo-Especial-abejas{
        background-color: rgba(243, 220, 11, 0.918);
        font-size: 30px;
        border-radius: 10px;
        color:rgb(15, 15, 15);
        width:70%;
        text-align: center;
    }

    .titulo-ofertas{
        background-color: rgb(20, 20, 19);
        font-size: 30px;
        border-radius: 10px;
        color:white;
        width:70%;
        text-align: center;
    }
 
    .Imagenes-al-catalogo{
        background-color: rgba(44, 144, 148, 0.959);
        width: 100%;
        padding: 17px;
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

} /* *** fin @media(1440) *** */

/*-------------2560--------------*/
@media (min-width: 2560px) {
    header {
        width: 100vw;
        /*position: fixed;
        top: 0px;*/
        background-color: rgba(44, 144, 148, 0.959); 
    }
    
    .dentro-header {
        width: 100%;
        padding: 2%;
        /*position: fixed;
        top: 0px;
        background-color: rgba(44, 144, 148, 0.959);*/
        display: flex; 
        flex-direction: row;  
        justify-self: center;
        align-items: center;  
    }
    
    .logo {
        width: 11vw;
        height: auto;
    }
    
    /* *** Barra de Navegación, Registro y Logging *** */
    nav {
        width: 100%;
    }
    .nav-bar{
        width: 60%;
        height: auto;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-items: center;
        justify-content: space-evenly;
    }
    
    a { 
        color: white;
        text-decoration: none; 
        font-size: 39px;
    }
    a:hover {
        color: black;
        background-color: goldenrod;
        font-size: 39px;
        font-weight: bold;
    }
    
    li {
        font-size: 100%;
        padding: 0px 1%;
    }
    ul {
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        justify-items: center;
    }
    
    .login-registro {
        width: 17vw;
        height: auto;
        padding-left: 3%;
        font-size: 100%;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items:flex-start;
        align-content: space-between;
        justify-items: left;
    }
    
    .menu-burger {
        display: none;
    }
    /* *** Fin Barra de Navegación, Registro y Logging *** */
    
    /* *** Barra de Búsqueda *** */
    .buscador{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
    }
    .buscador-input {
        width: 50%;
        height: 100%;
        border: 2px orchid; border-style: groove;
    }
    /* *** Fin Barra de Búsqueda *** */

    main {
        width: 100vw;
        height: auto;
    }

    /* *** Banner *** */
     .banner {
        width:2560px;
        height: auto;
        display: block;
    }   
    /* *** Fin Banner *** */

    .Imagenes-al-catalogo{
        background-color: rgba(44, 144, 148, 0.959);
        width: 100%;
        padding: 17px;
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

} /* ***Fin Media Query 2560px *** */
