<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs'); -%>
<body>
    <%- include( './partials/header.ejs' ); -%>  
                 
 
           
        <div class="top-header">

                     <main class="flex-vertical">
        
                <section>
                    <img  class="banner" src="/images/banner-juntos.png" alt="Banner de prueba">
                </section>
        
                <div class="flex-Horizontal"></div>
                   
            <div class="form" action="#" method="GET">                                
              
                  
    
         <h3> Completá tus datos</h3>
    <main class="register">
        <form action="/" method="POST">
            <div class= "registro">
            <input type="text" name="name" placeholder="Nombre y apellido">

            <input type="text" name="user" placeholder="Nombre de usuario">

            <input type="email" name="email" placeholder="E-mail">
        
             <div class= "fecha">  
            <input type="date" name="birth_date" id="birth_date">
             </div>

            <input type="documento" name="DNI" placeholder="N° de DNI">
        
            <input type="text" name="addres" placeholder="Domicilio">
             </div>
            <h4>Perfil del usuario</h4>
          
            <div class="perfil">
                <input type="radio" name="perfil" value="comprador" id="comprador">
                <label for="comprador">Comprador</label>
                <input type="radio" name="perfil" value="vendedor" id="vendedor">
                <label for="vendedor">Vendedor</label>
            </div>

            <h4>Intereses</h4>
            <div class="intereses">
                <div>
                    <input type="checkbox" name="intereses" value="a" id="a">
                    <label for="a">Productos del Hogar</label>
                </div>
                <div>
                    <input type="checkbox" name="intereses" value="b" id="b">
                    <label for="b">Cuidado Personal</label>
                </div>
                <div>
                    <input type="checkbox" name="intereses" value="c" id="c">
                    <label for="c">Derivados de la Miel</label>
                </div>
                     
            </div>
            
            <h4>Elegí tu foto de usuario</h4>
            <input type="file" name="avatar">
          
            <input type="password" name="pass" placeholder="Elegí tu contraseña">
            <input type="password" name="pass_confirm" placeholder="Confirmá tu contraseña">

            <div>
                <input type="checkbox" name="privacidad" value="c" id="c">
                <label for="c">Acepto los Términos y Condiciones y autorizo el uso de mis datos de acuerdo a la Declaración de Privacidad.</label>
            </div>
           
            <input type="submit" value="Enviar">
            <input type="reset" value="Borrar">
         
        </form>
</body>
<%- include( './partials/footer.ejs' ); -%>
</html>