<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head.ejs'); -%>
    
<body>

    <%- include( '../partials/header.ejs' ); -%>  
    
    <main>
        
        <article >
            <div class="pcaja0" >
                <div style="border: radius 5px; " > <img class="imgprd"  src="/images/velas-miel-organic.jpg" alt="velas"></div>
             
                    <div class="flex-vertical-producto">
                        <div style="width:100%;height: 50%;">
                           
                            <div class="pcaja1">
                                <h2 class="title">Vela Miel</h2> 
                              
                            </div>
                        <div  class="producto1">
                        
                       <!--<div class="prd">Velas de Miel x6</div>-->

                    </div>
    
                    <div>
                        <div style="padding-left:40%;width: 100%;" class="prd">SKU 7148-0055</div> 
                        <p class="parrafo"> 
                            Vela en vaso hechas 100% con cera pura de Abejas. 
                            Están fabricadas de manera casera, con mucho amor. Dimensiones: 8,5 cm x 7,5 cm. 
                            Tienen una rica fragancia a miel. Sus propiedades son saludables y no tienen aditivos químicos. 
                            Ideales para decorar, relajarse, meditar y también para rituales. Purifican el ambiente, dejandolo libre de moho, polvo, virus y bacterias.
                            La publicación es por una vela.
                            100%   vegana, cruelty free y Ecofriendly.
                        </p>
                        <div>
                            <div class="prd"> 
                                <div class=" btn-prueba1">
                                <h3>250$</h3>
                            </div> 
                            
                            <div class="btn-prueba2">
                                <input type="number" class="selector" name="quantity" value="1" min="1" max="10" title="Qty">
                            </div> 
                            <div class="btn-prueba3">
                                   <i id="iconos-prod" class="fas fa-cart-plus"></i> 
                            </div>    
                        </div>
                        <p style="padding-left: 50%; font-size: 95%"> Añadir al Carrito </p>
                    </div>
                   
                        
                </div>  
            </div>
        </article>
        
    </main>
        <%-include('../partials/footer.ejs')%>
</body>
</html>
